<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eibar Ikasleak - Main Page - Ikasle Zerrenda - Ikasgai Zerrenda</title>
     
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.min.css">
</head>

<body>
    <div class="page-header">
        <a href="{% url 'zerrenda-paziente-new' %}"><span class="glyphicon
            glyphicon-plus">paziente berria gehitu</span></a>
        <a href="{% url 'zerrenda-mediku-new' %}"><span class="glyphicon
            glyphicon-plus">mediku berria gehitu</span></a>
            <a href="{% url 'paziente_zerrenda' %}"><span class="glyphicon
                glyphicon-plus">paziente lista begiratu</span></a>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>