<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="page-header">
        {% extends 'base.html' %}
        {% block content %}
        <h1>Mediku berria</h1>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Gorde</button>
        </form>
        {% endblock %}

    </div>
</body>

</html>